<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <menuitem
        id="upocargo_root_menu"
        name="UPOCARGO"
        groups="group_upocargo_manager"/>

  <!-- actions -->
  <menuitem id="upocargos_clientes_menu" name="Clientes" parent="upocargo_root_menu" groups="group_upocargo_manager" action="upocargo_clientes_action"/>
  <menuitem id="upocargo_mudanza_menu" name="Mudanzas" parent="upocargo_root_menu" groups="group_upocargo_manager" action="upocargo_mudanzas_action"/>
  <menuitem id="upocargo_almacenamiento_menu" name="Almacenamiento" parent="upocargo_root_menu" groups="group_upocargo_manager" action="upocargo_almacenamiento_action"/>

</odoo>