.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #004080;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-menu{
    display: flex;
    list-style: none;
}

.navbar-menu .navbar-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }


.navbar-item:hover {
    color: #ff6f61; /* Resalta el enlace al pasar el ratón */
  }

.navbar-end .button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}

.navbar-end .button:hover{
    background-color: #e60000;
}

.modify-button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .modify-button:hover {
    background-color: #3498db;
    color: white;
  }
  
  .modify-button:focus {
    outline: none;
  }

@media (max-width: 768px) {
    .navbar-menu{
        flex-direction: column;
    }

    .navbar-menu li{
        margin: 5px 0;
    }
}